$FontSizeBig: 24px;
$MaxWidth:1440px;
$BorderColor:#D7DDE9;
$FontWeightNormal: 500;
$FontWeightNormalLight: 400;
$FontSizeNormal: 16px;
$DataColor: #0000008A;
$LetterSpacing:-0.02em;


header {
	justify-content: space-between;
	align-items: center;
	max-width: $MaxWidth;
	padding: 0 0 24px 0;
	border-bottom: 1px solid $BorderColor;
	margin: 24px 56px 40px 56px;
	div{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	p{
		font-size: $FontSizeNormal;
		font-weight: $FontWeightNormalLight;
		line-height: 19.36px;
		letter-spacing: $LetterSpacing;
		color: $DataColor;
	}
	h4{
		font-size: $FontSizeBig;
		font-weight: $FontWeightNormal;
		line-height: 29.04px;
		letter-spacing: $LetterSpacing;
	}
	}
}
.opacityContainer {
	opacity: 0.2;
	transition: all 500ms;
}

.notOpacityContainer {
	opacity: 1;
	transition: all 250ms;
}

.content__logo {
	width: 150px;
	justify-content: space-between;
}
.logo__name {
	width: 106.14px;
	height: 15.5px;
}
.logo__img {
	width:33px;
	height: 33px;
}


@media screen and (max-width:780px) {
	header{
		div{
			h4{
				font-size: $FontSizeNormal;
				line-height: 19.36px;
				letter-spacing: $LetterSpacing;
			}
		}
	}
}

@media screen and (max-width:680px) {
	header {
		flex-direction: column;
		align-items: flex-start;
		gap: 8px;
		border-bottom: 1px solid $BorderColor;
		margin: 24px;
	}
} 